{{ define "main" }}
<!-- like http://ooooxxxx/tags/tag1  -->
  {{ $name := .Name  }}
  {{ $kind := .Kind }}  <!-- "term" -->
    <article class="prose lg:prose-lg mx-auto my-8 dark:prose-dark px-4">
      {{ $page_num := (len .Data.Pages)}}
      <h1 class="text-2xl font-bold mb-2">{{ $name  }}:</h1>
      {{ $paginator := .Paginate .Data.Pages.ByPublishDate.Reverse }}
      {{ template "_internal/pagination.html" . }}
      {{ range $paginator.Pages.GroupByDate "2006.1" }}  
      {{ $page_num := (len .Pages)}}   
        <ul>{{ .Key }} 
          {{ if gt $page_num 1 }}
            {{ i18n "postCount" $page_num }}
          {{ end }} 
          <ul>{{ range .Pages.ByDate.Reverse }}
         {{ partial "li.html" . }}
        {{ end }}</ul>
        </ul>
      {{ end }}
    </article>
 {{ end }}

