{{ define "main" }}
  <!-- like http://ooooxxxx/tags  -->
  {{ $name := .Name  }}
  {{ $kind := .Kind }} <!-- "taxonomy" -->
  <article class="prose lg:prose-lg mx-auto my-8 dark:prose-dark px-4">
    <h1 class="text-2xl font-bold mb-2">{{ $name  }}:</h1>
    {{ $taxonomyObject := .Data.Terms }}
    {{ range $taxonomyObject.ByCount }}
      <li>
        <a href="{{ .Page.RelPermalink }}" role="button"> 
          <span>{{ .Page.LinkTitle }}</span> 
        </a> 
        <span style="float:right;">(有{{ .Count }}則)</span>
      </li> 
    {{ end }}
  </article>
 {{ end }}

