{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/index.css" }}
{{ with resources.Get "sass/layouts/index.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}

{{ $options := dict "transpiler" "dartsass" "targetPath" "css/neo.css" }}
{{ with resources.Get "sass/neo.scss" | toCSS $options | postCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}


<link href="{{ .Site.BaseURL }}css/all.css" rel="stylesheet" type="text/css">


{{ end }}

{{ define "main" }}

<script src='{{ "js/fuse.min.js" | absURL }}'></script>

<div class="neo-search-ui">
  <input type="search" class="py-2 px-3 text-black border" placeholder="Enter search query" />
  <button id="neosearch" class="neosearshbtn">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
  </button>
  <div hidden class="neo-search-results text-lg font-medium my-4"><h2>搜索結果:</h2></div>
  <ul class="neo-search-list my-2"></ul>
  <div hidden class="neo-no-results text-center my-8">
    <div class="text-xl font-semibold mb-2">No results found</div>
    <p class="font-light text-sm">Try adjusting your search query</p>
  </div>
  <hr hidden class="neo-search-hr">
</div>

<script>
    var neofuse; // holds our search engine
    var searchfirstRun = true;
    var neosearchlist = document.querySelector('.neo-search-list');
    var neolistfirst = neosearchlist.firstChild; 
    var neolistlast = neosearchlist.lastChild; 
    var neosearchinput = document.querySelector('.neo-search-ui input');
    var neosearchresults = document.querySelector('.neo-search-results');
    var neonoresults = document.querySelector('.neo-no-results');
    var neosearchhr = document.querySelector('.neo-search-hr');
    if (searchfirstRun) {
        //window.alert("searchfirstRun");
        loadNeoSearch(); 
        searchfirstRun = false;
    }
    function fetchJSONFile(path, callback) {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = 
            function () {
                if (httpRequest.readyState === 4) {
                    if (httpRequest.status === 200) {
                        var data = JSON.parse(httpRequest.responseText);
                        if (callback) callback(data);
                    }
                }
            };
        httpRequest.open('GET', path);
        httpRequest.send();
    }
    function loadNeoSearch() {
        // in head
        //const lang = document.querySelector(' > meta[name="lang"]')?.getAttribute?.('content')
        // or in html
        const lang = document.documentElement.lang
        // like "/zh-tw/index.json", if $lang exist use /xxx/index.json else /index.json 
        fetchJSONFile(`${lang ? "/" + lang : ""}/index.json`, function (data) {
            //console.log(data)
            var options = { // fuse.js options; check fuse.js website for details
              shouldSort: true,
              location: 0,
              distance: 100,
              threshold: 0.4,
              minMatchCharLength: 2,
              keys: [
                'title',
                'permalink',
                'contents'
             ]
            };
            neofuse = new Fuse(data, options);
        });
        document.querySelector('.neo-search-ui input').onkeyup = function (e) {
          executeNeoSearch(this.value);
        }
    }
    function executeNeoSearch(term) {
        if (term === "") {
            neosearchresults.setAttribute('hidden', "");
            neosearchhr.setAttribute('hidden', "");
            neosearchlist.setAttribute('hidden', "");
            neonoresults.setAttribute('hidden', "");
            return;
        }
        const searchResult = neofuse.search(term);
        if (searchResult.length === 0) {
            //resultsAvailable = false;
            neosearchhr.setAttribute('hidden', "");
            neosearchlist.setAttribute('hidden', "");
            searchitems = '';
            if (term !== "") {
                neonoresults.removeAttribute('hidden');
            } else {
                neonoresults.setAttribute('hidden', "");
            }
        }else { // build our html 
            searchitems = '';
            neonoresults.setAttribute('hidden', "");
            neosearchhr.removeAttribute('hidden');
            neosearchlist.removeAttribute('hidden');
            if (term !== "") {
                neosearchresults.removeAttribute('hidden');
                for (let itemnum in searchResult.slice(0, 5)) { // only show first 5 results
                    const title = '<div class="text-2xl mb-2 font-bold">' + searchResult[itemnum].item.title + '</div>';
                    const contents = '<div class="prose px-4">' + searchResult[itemnum].item.contents + '</div>';
                    searchitems = searchitems + '<li><a href="'+ searchResult[itemnum].item.permalink+ '">'+title+'</a>'+contents+'</li>';
                }
            }
        }
        neosearchlist.innerHTML = searchitems;
       if (searchResult.length > 0) {
         neolistfirst = neosearchlist.firstChild.firstElementChild; // first result container — used for checking against keyboard up/down location
         neolistlast = neosearchlist.lastChild.firstElementChild; // last result container — used for checking against keyboard up/down location
       }
    }
</script>

<main class="grid-container">
    
    <div id="content" class="index">
        {{ with .Site.GetPage "_index.md" }}
            {{ .Content }}
        {{ end }}
    </div>

    <div class="sidebar">
        {{ if .Site.Taxonomies.categories }}
        <h3 class="taxonomy">
            <span class="icon">
                <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="taxonomy-svg">
                    <path d="M3.71,16.29a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21,1,1,0,0,0-.21.33,1,1,0,0,0,.21,1.09,1.15,1.15,0,0,0,.33.21.94.94,0,0,0,.76,0,1.15,1.15,0,0,0,.33-.21,1,1,0,0,0,.21-1.09A1,1,0,0,0,3.71,16.29ZM7,8H21a1,1,0,0,0,0-2H7A1,1,0,0,0,7,8ZM3.71,11.29a1,1,0,0,0-1.09-.21,1.15,1.15,0,0,0-.33.21,1,1,0,0,0-.21.33.94.94,0,0,0,0,.76,1.15,1.15,0,0,0,.21.33,1.15,1.15,0,0,0,.33.21.94.94,0,0,0,.76,0,1.15,1.15,0,0,0,.33-.21,1.15,1.15,0,0,0,.21-.33.94.94,0,0,0,0-.76A1,1,0,0,0,3.71,11.29ZM21,11H7a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2ZM3.71,6.29a1,1,0,0,0-.33-.21,1,1,0,0,0-1.09.21,1.15,1.15,0,0,0-.21.33.94.94,0,0,0,0,.76,1.15,1.15,0,0,0,.21.33,1.15,1.15,0,0,0,.33.21,1,1,0,0,0,1.09-.21,1.15,1.15,0,0,0,.21-.33.94.94,0,0,0,0-.76A1.15,1.15,0,0,0,3.71,6.29ZM21,16H7a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z"/></svg>
            </span>
            <a href="/categories/">Categories</a>
        </h3>
        <ul class="nav-list sidenav">
            {{range first 10 ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
            <li>
                <a href="{{ .Permalink }}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ if .Site.Taxonomies.tags }}
        <p></p>
        <h3 class="taxonomy">
            <span class="icon">
                <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="taxonomy-svg">
                    <path d="M7.5,6A1.5,1.5,0,1,0,9,7.5,1.5,1.5,0,0,0,7.5,6Zm13.62,4.71L12.71,2.29A1,1,0,0,0,12,2H3A1,1,0,0,0,2,3v9a1,1,0,0,0,.29.71l8.42,8.41a3,3,0,0,0,4.24,0L21.12,15a3,3,0,0,0,0-4.24Zm-1.41,2.82h0l-6.18,6.17a1,1,0,0,1-1.41,0L4,11.59V4h7.59l8.12,8.12a1,1,0,0,1,.29.71A1,1,0,0,1,19.71,13.53Z"/></svg>
            </span>
            <a href="/tags/">Tags</a>
        </h3>
        <ul class="nav-list sidenav">
            {{range first 10 ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
            <li>
                <a href="{{ .Permalink }}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</main>
{{ end }}
